<h1> Most Visited </h1>
<!---<div ng-repeat= "y in userFavs">

	<span ng-click="popup($event, y)">
		<img ng-src="/images/{{y.file_name}}" class="thumbnails">
	</span>


	<md-button ng-click="unfavorite(y._id)" id = "unfavoriteButton">Remove from Favorites</md-button>
-->
<a href="https://www.google.com/maps/place/{{places[0][0]}}" target="_blank">
<div class="card1">
  <div class="container">
    <h4>{{places[0][0]}}</h4>
    <p class='favData'>{{places[0][1]}} visits</p>
    <p class='favData'>{{places[0][2]}} hours</p>
  </div>
</div>
</a>

<a href="https://www.google.com/maps/place/{{places[1][0]}}" target="_blank">
<div class="card2">
  <div class="container">
    <h4>{{places[1][0]}}</h4>
    <p class='favData'>{{places[1][1]}} visits</p>
    <p class='favData'>{{places[1][2]}} hours</p>
  </div>
</div>
</a>

<a href="https://www.google.com/maps/place/{{places[2][0]}}" target="_blank">
<div class="card1">
  <div class="container">
    <h4>{{places[2][0]}}</h4>
    <p class='favData'>{{places[2][1]}} visits</p>
    <p class='favData'>{{places[2][2]}} hours</p>
  </div>
</div>
</a>

<a href="https://www.google.com/maps/place/{{places[3][0]}}" target="_blank">
<div class="card2">
  <div class="container">
    <h4>{{places[3][0]}}</h4>
    <p class='favData4'>{{places[3][1]}} visits</p>
    <p class='favData4'>{{places[3][2]}} hours</p>
  </div>
</div>
</a>

<a href="https://www.google.com/maps/place/{{places[4][0]}}" target="_blank">
<div class="card1">
  <div class="container">
    <h4>{{places[4][0]}}</h4>
    <p class='favData4'>{{places[4][1]}} visits</p>
    <p class='favData4'>{{places[4][2]}} hours</p>
  </div>
</div>
</a>

<a href="https://www.google.com/maps/place/{{places[5][0]}}" target="_blank">
<div class="card2">
  <div class="container">
    <h4>{{places[5][0]}}</h4>
    <p class='favData'>{{places[5][1]}} visits</p>
    <p class='favData'>{{places[5][2]}} hours</p>
  </div>
</div>
</a>

</div>
