<h1 id="titleUsers">Menu</h1>
<div id = namesList>
	<md-button class = "buttons" ng-href = "#!/favorites" ">Most Visited</md-button><br/>
	<!--<md-button class = "disabledbuttons"  ng-disabled="true" ng-if="view === 'favorites'">Favorites</md-button><br/>-->
	<md-button class = "buttons" ng-href = "#!/cities" ">Visited Cities</md-button><br/>
	<!--<md-button class = "disabledbuttons"  ng-disabled="true" ng-if="view === 'cities'">Cities</md-button><br/>-->
	<md-button class = "buttons" ng-href = "#!/restaurants">Visited States</md-button>
	<p></p>
	<p></p>

	<md-button id = "buttonsChat" ng-href = "#!/chat">Chat Interface</md-button>
</div>